/*
 * Body and Main styles
 * ----------------------
 * Styles under "Body and Main styles"
 * are not important for full-screen
 * navigation and it's functionalities.
 *
 */

  .main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .main-nav li {
    margin: 0 0 30px 0;
  }
  .main-nav li a {
    font-size: 60px;
    color: #000;
    font-weight: bold;
    line-height: 80px;
  }
  .main-nav li a:hover,
  .main-nav li a:focus {
    border-bottom: 7px solid #000;
  }
  /*
   * Full menu
   * ----------
   * Styles in this section are very
   * important and you have to implement
   * them if you want for your
   * navigation to work properly.
   *
   */
  .full-menu {
    visibility: hidden;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 11;
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .full-menu--open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .full-menu--transition {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .full-menu--middle {
    display: table-cell;
    vertical-align: middle;
  }
  .menu-toggle {
    border: 0;
    color: #fff;
    background-color: transparent;
  }
  .menu-toggle--close, .menu-toggle--close {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  